.navbar {
  background: white;
  padding: 18px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-section img {
  width: 45px;
}

.logo-section h2 {
  color: #1b5e20;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #1b5e20;
}

.nav-btn {
  background: #2e7d32;
  color: white !important;
  padding: 10px 18px;
  border-radius: 25px;
}